@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-color: rgb(255, 255, 255);
  --accent-color: rgb(37, 164, 202);
  --accent-font-color: rgb(255, 255, 255);
  --font-color-bold: rgb(0, 0, 0);
  --font-color: rgb(75, 75, 75);
  --window-padding: max(3rem, 3svw);
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  color: var(--font-color);
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3 {
  font-family: "Playfair Display";
  color: var(--font-color-bold);
}

picture img {
  vertical-align: bottom;
}

/* Hero */

.hero-content {
  background-color: transparent;
  padding: var(--window-padding);
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.hero::before {
  /* diagonal splash */
  content: "";
  display: block;
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 100svw;
  transform: skewY(-13deg) translateY(-65%);
}

.hero::before,
.hero-content > *,
.project {
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.46);
}

.name-portrait-container {
  max-width: max-content;
  position: relative;
  align-self: center;
}

.hero-portrait {
  width: max(275px, 33svw);
  max-width: calc(100svw - calc(var(--window-padding) * 2));
}

.name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.2em;
  font-size: max(38px, 4.5svw);
  color: rgb(255, 255, 255);
  text-shadow: -2px -2px 5px rgb(0, 0, 0);
}

.about {
  flex: 1;
  margin: 5% 0;
  background-color: var(--background-color);
  padding: max(1.5rem, 2.5svw);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-header {
  flex: 1;
  font-size: max(2.5rem, 3svw);
  display: flex;
  align-items: flex-end;
}

.about-content {
  flex: 3;
  line-height: max(1.5rem, 2.5svw);
  font-size: max(1.15rem, 1.5svw);
}

.about-links {
  flex: 1;
  align-self: flex-end;
  justify-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.about-links img {
  height: max(2rem, 3svw);
  padding: 0 max(0.666rem, 1svw);
}

/* Projects */

.project-list {
  --proj-img-width: clamp(225px, 28svw, 750px);
  --project-header-font-size: clamp(1.15rem, 2svw, 3.75rem);
  padding: 0 var(--window-padding);
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--proj-img-width));
  place-content: center;
  gap: var(--project-header-font-size);
}

.project-list-header {
  font-size: max(1.75rem, 3svw);
  grid-column-start: 1;
  grid-column-end: -1;
  margin-bottom: calc(var(--project-header-font-size) * -0.75);
}

.project {
  margin-bottom: 1rem;
}

.project-img {
  width: var(--proj-img-width);
}

.project-info {
  --small-padding: calc(var(--project-header-font-size) / 2.25);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: min-content;
  gap: var(--small-padding);
  padding: var(--project-header-font-size);
  padding-top: var(--small-padding);
  height: calc(var(--proj-img-width) * 0.333);
  max-height: 18svh;
  overflow: hidden;
}

.project-info:hover {
  overflow: auto;
}

.project-name {
  font-size: var(--project-header-font-size);
}

.project-links {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.project-links img {
  height: var(--project-header-font-size);
  padding: 0 0.5svw;
}

.project-description {
  grid-column: span 2;
  font-size: calc(var(--project-header-font-size) / 1.75);
}

/* Contacts */

.contact-info {
  --contact-header-font-size: max(1.75rem, 3svw);
  background-color: var(--accent-color);
  color: var(--accent-font-color);
  font-size: calc(var(--contact-header-font-size) / 2.25);
  padding: var(--window-padding);
  margin-top: var(--window-padding);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--window-padding);
}

.contact-info-content {
  flex: 1;
}

.contact-info-img {
  width: 40svw;
  max-width: calc(100svw - calc(var(--window-padding) * 2));
}

.contact-info-header {
  font-size: var(--contact-header-font-size);
  color: var(--accent-font-color);
  margin-bottom: 0.5em;
}

.contact-info a {
  color: var(--accent-font-color);
  text-decoration: none;
}

.contact-info-content > *,
.street-address {
  margin-bottom: calc(var(--window-padding) / 2);
}

.phone-container,
.email-container {
  margin-bottom: calc(var(--window-padding) / 8);
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: start;
  align-items: center;
  gap: calc(var(--contact-header-font-size) / 3);
}

.contact-info-address img {
  color: var(--accent-font-color);
  width: 2em;
}

.contact-info-links img {
  height: calc(var(--contact-header-font-size));
  padding-right: calc(var(--contact-header-font-size) / 2);
}

/* Touch-screen compatibility */

@media (any-hover: none) {
  .project-info {
    overflow: auto;
  }
}

/* Phone Styling */

@media (width < 600px) {
  :root {
    --window-padding: 1.5rem;
  }

  .hero-portrait,
  .project-img {
    width: calc(100svw - calc(var(--window-padding) * 2));
  }

  .hero::before {
    transform: skewY(-25deg) translateY(-35%);
  }

  .name {
    font-size: 12svw;
  }

  .about {
    padding: 0;
    box-shadow: none;
    background-color: transparent;
  }

  .about-header,
  .project-list-header {
    text-align: center;
    justify-content: center;
    font-size: 2.5rem;
    margin: 0;
  }

  .about-content {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .about-links {
    align-self: center;
  }

  .project-list {
    --project-header-font-size: 1.9rem;
    grid-template-columns: auto;
  }

  .project-info {
    min-height: calc(33svw - calc(var(--window-padding) * 2));
  }

  .contact-info {
    --contact-header-font-size: 2.5rem;
    padding-bottom: 0;
  }

  .contact-info-c2a {
    font-size: 1.5rem;
  }

  .contact-info-address {
    font-size: 1rem;
  }

  .contact-info-content > *,
  .street-address {
    margin-bottom: 2rem;
  }

  .contact-info-header {
    text-align: center;
    margin-bottom: 1rem;
  }

  .contact-info-links {
    display: flex;
    justify-content: center;
  }

  .contact-info-address img {
    display: none;
  }

  .contact-info-img {
    width: 100svw;
    max-width: none;
  }
}

/* Tablet Styling */

@media (599px < width < 1000px) {
  .hero-content {
    display: block;
  }

  .hero::before {
    transform: skewY(-13deg) translateY(-50%);
  }

  .hero-portrait {
    float: left;
    margin-right: 1.25rem;
    margin-bottom: 0.5rem;
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.46);
  }

  .name {
    width: max-content;
    font-size: min(3.5rem, 8.25svw);
    transform: translate(25svw, 105%);
  }

  .about {
    display: block;
    margin: 0 calc(var(--window-padding));
    margin-top: 5.5rem;
    z-index: auto;
  }

  .about > * {
    margin-top: 1.25rem;
  }

  .about-header {
    margin-top: 2.5rem;
    font-size: max(1.75rem, 4svw);
    justify-content: center;
  }

  .about-content {
    line-height: max(1.25rem, 3svw);
    font-size: max(1rem, 2svw);
  }

  .project-description {
    font-size: 0.75rem;
  }
}
